@import url(http://fonts.googleapis.com/css?family=Ledger);

#forms{
    width: 50%;
    padding-top: 40px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}
    #forms section{
        display: inline-block;
        padding: 25px;
        border: 5px;
        border-style: inset;
        border-color: #FFD6AA;
        position: relative;
        left: auto;
        right: auto;
        margin-left: auto;
        margin-right: auto;
    }
    #forms section h3{
        font-family: 'Ledger', serif;
        font-size: 18px;
        color: #306E12;
        text-align: center;
        text-decoration: underline;
    }
    #forms section h2{
        font-family: 'Ledger', serif;
        font-size: 22px;
        color: #306E12;
        text-align: center;
    }
    #forms section form{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-family: 'Ledger', serif;
        color: #804C15;
    }
    #forms section input{
        color: #552C00;
        background-color: tan;
    }